/*Обнуление*/
html.light { 
  --main-body-color: #000000;
  --bg-blocks-color: #FFFFFF;
  --front-blocks-color: #eeeeee;
  --text-color: #000000;
  --header-title-color: #007acc;
  --header-title-hover-color: #004f74;
  --checkbox-color: #007acc;
  --title-event-color: rgb(0, 0, 0);
  --name-color: rgb(0, 0, 0);
  --info-path: url('../../icons/info.svg');
  --settings-path: url('../../icons/settings.svg');
  --arrow-path: url('../../icons/arrow-right.svg');
  --vk-path: url('../../icons/vk-brands.svg'); 
  --yt-path: url('../../icons/youtube-brands.svg'); 
  --spotify-path: url('../../icons/spotify-brands.svg'); 
  --git-path: url('../../icons/github-brands.svg'); 
  --shadow-altq33: 1px 0px 5px 4px rgba(0, 0, 0, 0.729);
}

html.dark {
  --main-body-color: #171a29;
  --bg-blocks-color: #292d3d;
  --front-blocks-color: #1f222e;
  --text-color: #a4a6ad;
  --header-title-color: #4a71c4;
  --header-title-hover-color: rgb(65, 67, 216);
  --checkbox-color: rgb(81, 50, 255);
  --title-event-color: #FFF;
  --name-color: rgb(255, 255, 255);
  --info-path: url('../../icons/infocopy.svg');
  --settings-path: url('../../icons/settings\ —\ copy.svg');
  --arrow-path: url('../../icons/arrow-right\ —\ copy.svg');
  --vk-path: url('../../icons/vk-brands\ —\ copy.svg'); 
  --yt-path: url('../../icons/youtube-brands\ —\ copy.svg'); 
  --spotify-path: url('../../icons/spotify-brands\ —\ copy.svg'); 
  --git-path: url('../../icons/github-brands\ —\ сopy.svg'); 
  --shadow-altq33: 1px 0px 5px 4px rgba(255, 255, 255, 0.729);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
  text-decoration:none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--main-body-color);
  cursor: grab;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  user-select: none;
}
/*--------------------*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.map-container {
  position: absolute;
  top: 0;
  left: 28%;
  width: 2414px;
  height: 1902px;
  background: url(../../img/map.png) no-repeat;
  background-size: 100% 100%;
  transition: all .5s ease;
}

.icon{
  z-index: 1;
  width: 40px;
  height: 40px;
  -webkit-filter: drop-shadow(3px 5px 5px rgb(85, 85, 85));
  filter: drop-shadow(3px 5px 5px rgb(85, 85, 85));
  transition: all 0.3s linear;
}

.icon:hover {
  transition: all 0.3s linear;
  transform: translate(0, -10px) scale(1.3);
  cursor: pointer;
}


.map-factory-icon {
  background: url(../../icons/factory.svg) no-repeat;
}

.map-castle-icon {
  background: url(../../icons/castle.svg) no-repeat;
}

.map-siege-icon {
  background: url(../../icons/siege.png) no-repeat;
  background-size: contain;
}

.map-swords-icon {
  background: url(../../icons/swords.png) no-repeat;
  background-size: contain;
}

#icon-map1{
  position: absolute;
  left: 1135px;
  top: 220px;
}

#icon-map2 {
  position: absolute;
  left: 1215px;
  top: 180px;
}

#icon-map3 {
  position: absolute;
  left: 1092px;
  top: 929px;
}

#icon-map4 {
  position: absolute;
  left: 1053px;
  top: 888px;
}

#icon-map5{
  position: absolute;
  left: 749px;
  top: 395px;
}

#icon-map6 {
  position: absolute;
  top: 1502px;
  left: 310px;
}

#icon-map7{
  position: absolute;
  bottom: 1467px;
  left: 800px;
}

#icon-map8{
  position: absolute;
  bottom: 956px;
  left: 1239px; 
}

.fullscreen-container {
  display: flex;
}

.legend-expand {
  position: fixed;
  z-index: 3;
  top: 20%;
  left: 0;
  width: 62px;
  height: 62px;
  cursor: pointer;
  background: var(--arrow-path) no-repeat;
  background-color: var(--bg-blocks-color);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: right;
  transition: all 0.3s ease;
  border-radius:0 7px 7px 0;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
}
.legend-expand:hover {
  left: 10px;
}
.legend-expand-visible {
  transform: translateX(-11px);
  visibility: visible;
  opacity: 0.8;
}

.settings-button {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10px;
  right: 10px;
  background: var(--settings-path) no-repeat;
  background-color: var(--bg-blocks-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
  z-index: 3;
  transition: all 0.5s ease;
  border-radius: 7px;
  opacity: 0.8;
}
.settings-button:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.legend-container {
  height: 90vh;
  width: 425px;
  background-color: var(--bg-blocks-color);
  color: var(--text-color);
  overflow-y: auto;
  flex: 0 0 auto;
  overflow-x: hidden;
  position: fixed;
  top: 10vh;
  left: 0;
  transition: all .5s ease;
  z-index: 2;
  cursor: default;
  transform: none;
  visibility: visible;
}

.legend-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 425px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--front-blocks-color);
  padding: 0 23px;
  z-index: 3;
  transition: all .5s ease;
  transform: none;
  visibility: visible;
  cursor: default;
}

.legend-container-hide {
  transform: translateX(-100%);
  visibility: hidden;
}


.legend-title {
  color: var(--header-title-color);
  font-size: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.legend-title:hover {
  color: var(--header-title-hover-color);
}
.info-button {
  width: 12px;
  height: 26px;
  background: var(--info-path) no-repeat;
}
.info-button:hover {
  transform: scale(1.3);
  transition: all 0.7s ease;
  background: var(--info-path) no-repeat;
}




.legend-main {
  padding: 22px 22px 0 22px;
}
.event-container {
  margin-bottom: 23px;
  height: auto;
}
.event-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-title {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  flex: 1 1 50%;
}

label input {
  display: none;
}
label span {
  border: 1px solid gray;
  display: inline-block;
  position: relative;
  width: 20px;
  border-radius: 7px;
  height: 20px;
  background-color:#ffffff;
  padding:3px;
  cursor: pointer;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -5px;
  left: 0;
  font-size:23px;
  color: var(--checkbox-color);
}

.sub-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-height: 92px;
  overflow: hidden;
  transition: all .5s ease;
  opacity: 1;
}
  
.sub-ul-hidden{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .5s ease;
  opacity: 0;
  overflow: hidden;
  height: auto;
  max-height: 0px;
}
  
  
.event-item {
  display: flex;
  background-color: var(--front-blocks-color);
  width: 320px;
  min-height: 36px;
  margin-bottom: 10px;
  align-items: center;
  padding-left: 20px;
  transition: all .2s linear;
}


.event-item:hover {
  transform: translate(-7px, -2px);
  transition: all .2s linear;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container:hover {
  color: var(--title-event-color);
  transition: all 0.3s ease;
  transform: scale(1.05);
}
.title-icon {
  z-index: 1;
}

.castles {
  width: 40px;
  height: 40px;
  background: url(../../icons/castle.svg) no-repeat;
  position: relative;
  bottom: 5px;
  margin-right: 10px;
}

.factory {
  width: 40px;
  height: 40px;
  background: url(../../icons/factory.svg) no-repeat;
  position: relative;
  bottom: 25px;
  margin-right: 10px;
}

.siege {
  width: 40px;
  height: 40px;
  background: url(../../icons/siege.png) no-repeat;
  background-size: contain;
  position: relative;
  margin-right: 10px;
  bottom: 5px;
}

.battles {
  width: 40px;
  height: 40px;
  background: url(../../icons/swords.png) no-repeat;
  background-size: contain;
  position: relative;
  margin-right: 10px;
}

#factory-label {
  position: relative;
  bottom: 22px;
}

#castle-label {
  position: relative;
  bottom: -5px;
}

#siege-label {
  position: relative;
  bottom: 9px;
}

#swords-label {
  position: relative;
  bottom: -4px;
}

body::-webkit-scrollbar{
  width: 20px;
  height: 20px;
}

body::-webkit-scrollbar-thumb{
  background: url("../../icons/arrow-scroll.png");
}

body::-webkit-scrollbar-corner {
  background-color: var(--front-blocks-color);
}

.legend-container::-webkit-scrollbar{
  width: 4px;
  border-radius: 10px;
}

 .legend-container::-webkit-scrollbar-thumb{
  background-color: var(--text-color);;
  border-radius: 10px;
  width: 3px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%; 
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.5);
  top: 0; 
  left: 0;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
}
.modal-body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.5s ease;
}
.modal-content {
  position: relative;
  transition: all 0.5s ease;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.modal-content2 { 
  position: relative;
  transition: all 0.3s ease;
  transform: translate(0px, 100%);
}
.modal-close {
  position: absolute;
  right: 7px;
  top: 7px; 
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
  font-size: 20px;
  text-align: center;
  color: var(--text-color);
  user-select: none;
}

.modal-close:focus, .modal-close:active, .modal-close {
  text-decoration: none;
  outline: none;
  color: var(--text-color);
}

.modal-close:hover {
  transform: scale(1.1) rotate(90deg);
  transition: all 0.3s ease;
}

.modal.open { 
  opacity: 1;
  visibility: visible;
}

.modal.open .modal-content {
  opacity: 1;
  transform: perspective(600px) translate(0, 0%) rotateX(0deg);
}

.modal.open .modal-content2 {
  opacity: 1;
  transform: translate(0, 0);
}

.modal-info-content {
  background-color: var(--bg-blocks-color);
  color: var(--text-color);
  font-size: 18px;
  width: 800px;
  height: 520px;
  border-radius: 3px;
  padding: 30px 15px 20px 15px;
  display: flex;
  flex-direction: column;
}


.info-img-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-img-container img:first-child{
  width: 33%;
  user-select: none;
}

.info-img-container img:last-child{
  width: 65%;
  user-select: none;
}

.info-text-container span{
  color: var(--header-title-color);
  font-size: 25px;
}

.info-text-container p{
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: .2rem;
}

.modal-settings-content {
  user-select: none;
  cursor: default;
  position: fixed;
  top: 80px; 
  right: 50px;
  width: 320px;
  height: 145px;
  background-color: var(--bg-blocks-color);
  border-radius: 4px; 
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transform: translate(10px, -10px);
}

.settings-open {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.settings-title {
  font-size: 18px;
}

.modal-setting-content-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--text-color);
  height: 45px;
  align-items: center; 
  padding: 0 10px;
}

.media-container {
  width: 100%;
  border-top: 1px solid hsla(0,0%,100%,.1);
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 10px;
  height: 53px;
  font-size: 18px;
  justify-content: space-around;
}

.material-icons {
  user-select: none;
}

.scroll-toggle, .theme-toggle {
  cursor: pointer;
}

.about-us, .sourse {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.about-us:hover, .sourse:hover {
  color: var(--title-event-color);
}

.about-us-content {
  width: 100%;
  height: 100%;
  background-color: var(--bg-blocks-color);
  position: fixed;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.modal-about {
  opacity: 1;
  backdrop-filter: blur(0px);
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.modal-about .modal-close {
  font-size: 30px;
  right: 20px;
  top: 20px;
}

.about-us-main {
  display: flex;
  width: 1100px;
  height: 640px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-title {
  color: var(--header-title-color);
  font-size: 48px;
  text-shadow: 1px 1px 2px  rgba(60, 70, 223, 0.8);
}
.social-media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-container {
  width: 500px;
  height: 550px;
  background-color: var(--front-blocks-color);
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow:  var(--shadow-altq33);
}
.social-container-title {
  font-size: 36px;
  color: var(--name-color);
}
.ul-social-icons {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.social-icons-item {
  width: 40px;
  height: 40px;
  list-style: none;
  cursor: pointer;
  transition: all .5s ease;
}
.social-icons-item:hover {
  transform: scale(1.2);
  transition: all .5s ease;
}

.social-icons-item a {
  display: block;
  width: 40px;
  height: 40px;
}

.social-icons-item:first-child {
  background: var(--vk-path) no-repeat;
}

.social-icons-item:nth-child(2) {
  background: var(--yt-path) no-repeat;
}

.social-icons-item:nth-child(3) {
  background: var(--spotify-path) no-repeat;
}

.social-icons-item:last-child {
  background: var(--git-path) no-repeat;
}

.right-container {
  width: 500px;
  height: 550px;
  background-color: var(--front-blocks-color);
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow:  1px 0px 5px 4px rgba(171, 11, 11, 0.74);
}

.social-media img {
  width: 80%;
  flex: 0 0 50%;
}

.source-main {
  display: flex;
  width: 1000px;
  height: 100%;
  flex-direction: column;
  align-items: center; 
}

.source-title {
  margin-bottom: 80px;
}

.source-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 40%;
  width: 50%;
}

.source-list-item {
  padding: 10px;
  background-color: var(--front-blocks-color); 
  width: 100%;
  height: 42px;
  font-size: 24px;
  color: var(--text-color);
  border-radius: 6px;
  margin-bottom: 20px;
  transition: all .3s ease;
}

.source-list-item a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: block;
}

.source-list-item:hover {
  transform: scale(1.1);
  transition: all .3s ease;
}

.event-modal {
  width: 425px;
  height: 100%;
  position: fixed;
  left: 0; 
  top: 0;
  visibility: hidden;
  z-index: 5;
  transform: translate(0, 100%);
  transition: all ease .5s;
  cursor: default;
}

.event-modal-content {
  width: 100%;
  height: 100%;
  background-color: var(--bg-blocks-color);
}

.event-modal.open {
  visibility: visible;
  transform: translate(0, 0);
  transition: all ease .5s;
}

