/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
  text-decoration:none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #1f222e;
  cursor: grab;
  overflow: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.map-container {
  position: absolute;
  top: 0;
  left: 30%;
  width: 2414px;
  height: 1902px;
  background: url(../../img/map.png) no-repeat;
  background-size: 100% 100%;
  transition: all .5s linear;
}

.icon{
  z-index: 1;
  width: 40px;
  height: 40px;
  -webkit-filter: drop-shadow(3px 5px 5px rgb(85, 85, 85));
  filter: drop-shadow(3px 5px 5px rgb(85, 85, 85));
  transition: all 0.3s linear;
}

.icon:hover {
  transition: all 0.3s linear;
  transform: translate(0, -10px) scale(1.3);
  cursor: pointer;
}


.map-factory-icon {
  background: url(../../icons/factory.svg) no-repeat;
}

.map-castle-icon {
  background: url(../../icons/castle.svg) no-repeat;
}

.map-siege-icon {
  background: url(../../icons/siege.png) no-repeat;
  background-size: contain;
}

.map-swords-icon {
  background: url(../../icons/swords.png) no-repeat;
  background-size: contain;
}

#factory1{
  position: absolute;
  left: 1135px;
  top: 220px;
}

#factory2 {
  position: absolute;
  left: 1215px;
  top: 135px;
}

#castle1 {
  position: absolute;
  left: 1100px;
  top: 849px;
}

#castle2 {
  position: absolute;
  left: 1053px;
  top: 773px;
}

#siege1{
  position: absolute;
  left: 749px;
  top: 235px;
}

#siege2{
  position: absolute;
  top: 1071px;
  left: 310px;
}

#swords1{
  position: absolute;
  bottom: 551px; 
  left: 811px; 
}

#swords2{
  position: absolute;
  bottom: 634px; 
  left: 1239px; 
}

.fullscreen-container {
  display: flex;
}

.legend-expand {
  position: fixed;
  z-index: 3;
  top: 20%;
  left: -100%;
  width: 62px;
  height: 62px;
  background-color: #292d3d;
  cursor: pointer;
  background-image: url(../../icons/arrow-right.png);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: right;
  transition-duration: 0.5s;
  border-radius:0 7px 7px 0;
}
.legend-expand:hover {
  transition: all 0.5s ease;
  transform: translatex(10px);
}

.settings-button {
  width: 64px;
  height: 74px;
  position: fixed;
  top: -11px; 
  right: 5%;
  background-color: #292d3d;
  background-image: url(../../icons/settings.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius:0 0 7px 7px;
  z-index: 3;
  transition: all 0.5s ease;
  opacity: 0.9;
}
.settings-button:hover {
  transition: all 0.5s ease;
  transform: translate(0, 10px);
}
.legend-container {
  height: 100vh;
  width: 425px;
  background-color: #292d3d;
  color: #a4a6ad;
  padding-top: 83px;
  overflow-y: auto;
  flex: 0 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 1s;
  z-index: 2;
  cursor: default;
}


.legend-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 425px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f222e;
  padding: 0 23px;
  z-index: 2;
  transition-duration: 1s;
}
.legend-title {
  color: #4a71c4;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.legend-title:hover {
  color: rgb(65, 67, 216);
}
.info-button {
  width: 12px;
  height: 26px;
  background: url(../../icons/info.svg) no-repeat;
}
.info-button:hover {
  transform: scale(1.5);
  transition: all 0.7s ease;
}
.legend-main {
  padding: 23px;
  
}
.event-container {
  margin-bottom: 23px;
}
.event-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-title {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  flex: 1 1 50%;
}

label input {
  display: none;
}
label span {
  border: 1px solid gray;
  display: inline-block;
  position: relative;
  width: 20px;
  border-radius: 7px;
  height: 20px;
  background-color:#ffffff;
  padding:3px;
  cursor: pointer;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -5px;
  left: 0;
  font-size:23px;
  color:rgb(81, 50, 255);
}

.sub-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-item {
  display: flex;
  background-color: #1f222e;
  width: 320px;
  height: 36px;
  margin-bottom: 10px;
  align-items: center;
  padding-left: 20px;
  transition: all .2s linear;
}
.event-item:hover {
  transform: translate(-7px, -2px);
  transition: all .2s linear;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container:hover {
  color: white;
  transition: all 0.3s ease;
  transform: scale(1.05);
}
.title-icon {
  z-index: 1;
}

.castles {
  width: 40px;
  height: 40px;
  background: url(../../icons/castle.svg) no-repeat;
  position: relative;
  bottom: 5px;
  margin-right: 10px;
}

.factory {
  width: 40px;
  height: 40px;
  background: url(../../icons/factory.svg) no-repeat;
  position: relative;
  bottom: 25px;
  margin-right: 10px;
}

.siege {
  width: 40px;
  height: 40px;
  background: url(../../icons/siege.png) no-repeat;
  background-size: contain;
  position: relative;
  margin-right: 10px;
  bottom: 5px;
}

.battles {
  width: 40px;
  height: 40px;
  background: url(../../icons/swords.png) no-repeat;
  background-size: contain;
  position: relative;
  margin-right: 10px;
}

#factory-label {
  position: relative;
  bottom: 22px;
}

#castle-label {
  position: relative;
  bottom: -5px;
}

#siege-label {
  position: relative;
  bottom: 9px;
}

#swords-label {
  position: relative;
  bottom: -4px;
}

body::-webkit-scrollbar{
  width: 20px;
  height: 20px;
}

body::-webkit-scrollbar-thumb{
  background: url("../../icons/arrow-scroll.png");
}

body::-webkit-scrollbar-corner {
  background-color: #1f222e;
}

.legend-container::-webkit-scrollbar{
  width: 4px;
  border-radius: 10px;
}

 .legend-container::-webkit-scrollbar-thumb{
  background-color: #a4a6ad;;
  border-radius: 10px;
  width: 3px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0; 
  left: 0;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.5s ease;
}
.modal-content {
  position: relative;
  background-color: #fff;
  max-width: 800px;
  padding: 30px;
  transition: all 0.5s ease;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.modal-close {
  position: absolute;
  right: 12px;
  top: 12px; 
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
  font-size: 20px;
  text-align: center;
}

.modal-close:focus, .modal-close:active, .modal-close {
  text-decoration: none;
  outline: none;
  color: #000;
}

.modal-close:hover {
  transform: scale(1.1) rotate(90deg);
  transition: all 0.3s ease;
}

.modal.open { 
  opacity: 1;
  visibility: visible;
}

.modal.open .modal-content {
  opacity: 1;
  transform: perspective(600px) translate(0, 0%) rotateX(0deg);
}
