/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.fullscreen-container {
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  width: 100%;
  background: url(../../img/map.png) no-repeat;
  background-size: 100% 100vh;
}

.legend-container {
  height: 100vh;
  width: 425px;
  background-color: #292d3d;
  color: #a4a6ad;
  padding-top: 83px;
  overflow-y: auto;
  flex: 0 0 auto;
  position: fixed;
  top: 0;
  left: 0;
}

.legend-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 425px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f222e;
  padding: 0 23px;
  z-index: 2;
}
.legend-title {
  color: #4a71c4;
  font-size: 32px;
  cursor: pointer;
}
.info-button {
  width: 12px;
  height: 26px;
  background: url(../../icons/info.svg) no-repeat;
}
.legend-main {
  padding: 23px;
}
.event-container {
  margin-bottom: 23px;
}
.event-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-title {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  flex: 1 1 50%;
}
.event-checkbox {
}
.sub-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-item {
  display: flex;
  background-color: #1f222e;
  width: 320px;
  height: 36px;
  margin-bottom: 8px;
  align-items: center;
  padding-left: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-icon {
  z-index: 1;
}

.castles {
  width: 40px;
  height: 40px;
  background: url(../../icons/castle.svg) no-repeat;
  position: relative;
  bottom: 5px;
  margin-right: 10px;
}

.factory {
  width: 40px;
  height: 40px;
  background: url(../../icons/factory.svg) no-repeat;
  position: relative;
  bottom: 25px;
  margin-right: 10px;
}

.siege {
  width: 40px;
  height: 40px;
  background: url(../../icons/siege.png) no-repeat;
  background-size: contain;
  position: relative;
  margin-right: 10px;
  bottom: 5px;
}

.battles {
  width: 40px;
  height: 40px;
  background: url(../../icons/swords.png) no-repeat;
  background-size: contain;
  position: relative;
  margin-right: 10px;
}
